# Server
PORT=3002

# Grafana target
GRAFANA_BASE_URL=http://localhost:3000
GRAFANA_PATH_PREFIX=
GRAFANA_TLS_SKIP_VERIFY=false

GRAFANA_SERVICE_ACCOUNT_TOKEN=add token_here # you get that via grafana UI -> Configuration -> Service Accounts -> Create Service Account


SA_PROXY_PREFIX=/grafana
