# Kafka topics (optional)
KAFKA_TOPICS=
KAFKA_PARTITIONS=1

# InfluxDB / Telegraf
INFLUX_ORG=
INFLUX_BUCKET=
INFLUX_TOKEN=

# prod-postgres secrets
PROD_POSTGRES_PASSWORD=
PROD_POSTGRES_INFISICAL_PASSWORD=
PROD_POSTGRES_DBLORD_PASSWORD=
PROD_POSTGRES_LAKEFS_PASSWORD=
PROD_POSTGRES_NAMESPACE=prod-postgres

# db-lord secrets
DB_LORD_POSTGRES_SERVER=
DB_LORD_POSTGRES_PORT=
DB_LORD_POSTGRES_DB=
DB_LORD_POSTGRES_USER=
DB_LORD_POSTGRES_PASSWORD=
DB_LORD_INFLUX_URL=
DB_LORD_INFLUX_ORG=
DB_LORD_INFLUX_BUCKET=
DB_LORD_INFLUX_TOKEN=
DB_LORD_NAMESPACE=db-lord
DB_LORD_SECRET_NAME=db-lord-secrets

# extraction-service secrets
EXTRACTION_SERVICE_DB_LORD_BASE_URL=
EXTRACTION_SERVICE_NAMESPACE=extraction-service
EXTRACTION_SERVICE_SECRET_NAME=extraction-service-secrets

# runtime secret bootstrap (wearables-bff + grafana-proxy)
RESEARCHER_API_ACCESS_TOKEN=
BREVO_API_KEY=
GRAFANA_JWT_PRIVATE_KEY_PATH=./secrets/grafana-jwt-private.pem
# Set true to auto-generate RSA key at GRAFANA_JWT_PRIVATE_KEY_PATH when missing
GENERATE_GRAFANA_JWT_PRIVATE_KEY_IF_MISSING=true
SHARED_APP_JWT_SECRET=
ROTATE_SHARED_APP_JWT_SECRET=false
BFF_NAMESPACE=wearables-bff
BFF_SECRET_NAME=wearables-bff-secrets
BFF_FRONTEND_ORIGINS=http://wearables.charite.de/
BFF_FRONTEND_REDIRECT_URL=http://wearables.charite.de/
BFF_ADMIN_EMAILS=linus.gustafsson@tu-berlin.de,j.moehler@posteo.de,admin@lukaszsztukiewicz.com,gmsdaniilplay@gmail.com
PUBLIC_API_BASE_URL=http://wearables.charite.de/api
GRAFANA_NAMESPACE=monitoring
GRAFANA_SECRET_NAME=grafana-auth-secrets

# ingress controller (optional; leave empty for local/minikube)
INGRESS_SERVICE_TYPE=
INGRESS_LB_IP=
INGRESS_LB_NETWORK_ID=
INGRESS_LB_SUBNET_ID=
INGRESS_WORKER_NODE_SUBNET_ID=


# cluster issuer (optional; leave empty if you do not want cert-manager issuer)
INGRESS_CLUSTER_ISSUER_NAME=
INGRESS_CLUSTER_ISSUER_SERVER=
INGRESS_CLUSTER_ISSUER_EMAIL=
INGRESS_CLUSTER_ISSUER_SECRET_NAME=
INGRESS_CLUSTER_ISSUER_CLASS=

# ingress (optional; leave empty to skip domain-specific cert)
INGRESS_HTTP_ONLY=false
INGRESS_HOST=
INGRESS_CERT_NAME=
INGRESS_CERT_SECRET_NAME=

# grafana bootstrap auth (optional; defaults to admin/admin)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_SUBPATH=/grafana
